<form style="background: #fff;">
    <div style="display: inline-block; text-align: left; width: 350px; max-width: calc(100% - 10px);">
        <div class="icons" style="width: 83%;">
            <!--<a class="a" href="#"><img alt="github" src="../../../assets/img/github.png" /></a>
            <a class="a" href="#"><img alt="twitter" src="../../../assets/img/twitter.png" /></a>
            <a class="a" href="#"><img alt="codepen" src="../../../assets/img/codepen.png" /></a>
            <a class="a" href="#"><img alt="instagram" src="../../../assets/img/instagram.png" /></a>
            <a class="a" href="#"><img alt="dribbble" src="../../../assets/img/dribbble.png" /></a>
            <a class="a" href="#"><img alt="behance" src="../../../assets/img/behance.png" /></a>
            <a class="a" href="#"><img alt="linkedin" src="../../../assets/img/linkedin.png" /></a>-->

            <a class="a" href="#"><img alt="github" src="https://github.com/sashabarskiy/Kiril-Bushovski/blob/master/src/assets/img/github.png?raw=true"/></a>
            <a class="a" href="#"><img alt="twitter" src="https://github.com/sashabarskiy/Kiril-Bushovski/blob/master/src/assets/img/twitter.png?raw=true"/></a>
            <a class="a" href="#"><img alt="codepen" src="https://github.com/sashabarskiy/Kiril-Bushovski/blob/master/src/assets/img/codepen.png?raw=true"/></a>
            <a class="a" href="#"><img alt="instagram" src="https://github.com/sashabarskiy/Kiril-Bushovski/blob/master/src/assets/img/instagram.png?raw=true"/></a>
            <a class="a" href="#"><img alt="dribbble" src="https://github.com/sashabarskiy/Kiril-Bushovski/blob/master/src/assets/img/dribbble.png?raw=true"/></a>
            <a class="a" href="#"><img alt="behance" src="https://github.com/sashabarskiy/Kiril-Bushovski/blob/master/src/assets/img/behance.png?raw=true"/></a>
            <a class="a" href="#"><img alt="linkedin" src="https://github.com/sashabarskiy/Kiril-Bushovski/blob/master/src/assets/img/linkedin.png?raw=true"/></a>
        </div><br><br>
        <label>{{lang.get("Your Name:")}}</label> <br>
        <input type="text" placeholder=""> <br>
        <label>{{lang.get("Your Email:")}}</label> <br>
        <input type="text" placeholder=""><br>
        <label>{{lang.get("Your Message:")}}</label> <br>
        <textarea name="" cols="30" rows="10"></textarea>
        <button>{{lang.get("Submit")}}</button>
    </div>
    <br>
</form>
