<div class="container">
    <header id="header">
        <div id="header-img">
            <img src="../../../assets/img/5.png" alt="company logo">
        </div>
    </header>
    <br><br>
    <div id="main-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7TJEng32GKw"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <br><br>
        <div class="container">
            <div class="container__item">
                <h3 class="about-order">please order time</h3>
                <div class="subscribe">
                    <input type="text" placeholder="Enter your email">
                    <button>&#10066;</button>
                </div>
            </div>
        </div>
    </div>
</div>

