<div class="container">
    <header id="header">
        <div id="header-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuBgNs0kA3m1yiyje3l0NhL5zXHbt7ehHB6Q&usqp=CAU" alt="company logo">
        </div>
    </header>
    <br><br>
    <div id="main-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7TJEng32GKw"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <br><br>
        <div class="container">
            <div class="container__item">
                <h3 class="about-order">{{lang.get("please order time")}}</h3>
                <div class="subscribe">
                    <input type="text" placeholder="E-mail">
                    <button>&#10066;</button>
                </div>
            </div>
        </div>
    </div>
</div>

