
<!--<script src="https://use.fontawesome.com/9267c335af.js"></script>-->

    <div class="heading">
        <div class="img round">
        </div>
        <div class="heading-text">
            <h1 style="font-size: 27px;">START CHANGING THE WORLD</h1>


        </div>
    </div>
    <div class="timeline">
        <ul>

            <li><strong class="year">&#10066;</strong>
                <span class="timeline-text"><strong>Артефакт эксперимента </strong>
		<p class="subtext">Наша студия изначально была создана для того, чтобы дать возможными связи с создателями понравившихся им приложений.
			Благодаря этому появилась возможность консультировать по вопросам реализации веб-продуктов, как дополнение мы начали предлагать реализацию (на выгодных условиях) и заполучили клиентов . Возникла идея лаборатории.</p>
	</span></li><li><strong class="year">&#10066;</strong>
            <span class="timeline-text"><strong>Артефакт эксперимента </strong>
		<p class="subtext">Наша студия изначально была создана для того, чтобы дать возможными связи с создателями понравившихся им приложений.
			Благодаря этому появилась возможность консультировать по вопросам реализации веб-продуктов, как дополнение мы начали предлагать реализацию (на выгодных условиях) и заполучили клиентов . Возникла идея лаборатории.</p>
	</span></li><li><strong class="year">&#10066;</strong>
            <span class="timeline-text"><strong>Артефакт эксперимента </strong>
		<p class="subtext">Наша студия изначально была создана для того, чтобы дать возможными связи с создателями понравившихся им приложений.
			Благодаря этому появилась возможность консультировать по вопросам реализации веб-продуктов, как дополнение мы начали предлагать реализацию (на выгодных условиях) и заполучили клиентов . Возникла идея лаборатории.</p>
	</span></li><li><strong class="year">&#10066;</strong>
            <span class="timeline-text"><strong>Артефакт эксперимента </strong>
		<p class="subtext">Наша студия изначально была создана для того, чтобы дать возможными связи с создателями понравившихся им приложений.
			Благодаря этому появилась возможность консультировать по вопросам реализации веб-продуктов, как дополнение мы начали предлагать реализацию (на выгодных условиях) и заполучили клиентов . Возникла идея лаборатории.</p>
	</span></li>
        </ul>
    </div>
    <div class="quote-link">
        <h2>
            “A painter should begin every canvas with a wash of black, because all things in nature are dark except where exposed by the light.”</h2>
        <p>- 	Leonardo da Vinci</p>
        <div class="separator"></div>
        <p style="color: silver;">Sorry, our canvases starts with cookie notifications.</p>

    </div>

