<div class="heading">
    <div class="img round"></div>
    <div class="heading-text">
        <h1 style="font-size: 27px;">{{lang.get("start changing the world")}}</h1>
    </div>
</div>
<div class="timeline">
    <ul>
        <li>
            <strong class="year">&#10066;</strong>
            <span class="timeline-text">
                <strong>{{lang.get("experiment artifact")}}</strong>
		        <p class="subtext">
                    {{lang.get("long_text_1")}}
                </p>
            </span>
	    </li>
        <li>
            <strong class="year">&#10066;</strong>
            <span class="timeline-text">
                <strong>{{lang.get("experiment artifact")}}</strong>
		        <p class="subtext">
                    {{lang.get("long_text_1")}}
                </p>
            </span>
	    </li>
        <li><strong class="year">&#10066;</strong>
            <span class="timeline-text">
                <strong>{{lang.get("experiment artifact")}}</strong>
		        <p class="subtext">
                    {{lang.get("long_text_1")}}
                </p>
            </span>
	    </li>
        <li><strong class="year">&#10066;</strong>
            <span class="timeline-text">
                <strong>{{lang.get("experiment artifact")}}</strong>
		        <p class="subtext">
                    {{lang.get("long_text_1")}}
                </p>
            </span>
	    </li>
    </ul>
</div>
<div class="quote-link">
    <h2>
        “{{lang.get("long_text_2")}}”
    </h2>
    <p>- 	{{lang.get("leonardo")}}</p>
    <div class="separator"></div>
    <p style="color: silver;">{{lang.get("sorry_1")}}</p>
</div>
