<div class="content" [ngClass]="{ 'cube': cube }">

  <app-modal-window></app-modal-window>

  <div class="content__inner">
    <nav>
      <div class="spinner" (click)="cube = !cube;" style="color: transparent;">
        cube
      </div>
        <router-outlet></router-outlet>
    </nav>
    <main style="margin-top: 0;">

      <div class="header">
        <app-language style="text-align: left;"></app-language>

        <h3 *ngIf="lang.language == 'en-EN'" style="color: black;font-size: 40px;">
          Hell<i class="spinner2"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;w<i class="spinner2"></i>&nbsp;&nbsp;&nbsp;rld!
        </h3>

        <h3 *ngIf="lang.language == 'it-IT'" style="color: black;font-size: 40px;">
          Cia<i class="spinner2"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;m<i class="spinner2"></i>&nbsp;&nbsp;&nbsp;ndo!
        </h3>

        <h3 *ngIf="lang.language == 'ru-RU'" style="color: black;font-size: 40px;">
          Здар<i class="spinner2"></i>&nbsp;&nbsp;&nbsp;ва, Мир!
        </h3>

      </div>

      <div id="body">
        <div id="movie-card-list">
          <div class="movie-card" data-movie="About">
            <div class="movie-card__overlay"></div>
            <div class="movie-card__share"></div>
            <div class="movie-card__content">
              <div class="movie-card__header">
                <h1 class="movie-card__title">{{lang.get('about')}}</h1>
                <h4 class="movie-card__info" >{{lang.get('History of our studio')}}</h4>
              </div>
              <p class="movie-card__desc">
                {{lang.get('A secret military project endangers Neo-Tokyo when it turns a biker gang member into a rampaging psychic psychopath that only two teenagers, and a group of psychics can stop.')}}
              </p>
              <a class="btn btn-outline movie-card__button" (click)="cube = !cube;" routerLink="/about">&#10149;</a>
            </div>
          </div>

          <div class="movie-card" data-movie="Lab">
            <div class="movie-card__overlay"></div>
            <div class="movie-card__share"></div>
            <div class="movie-card__content">
              <div class="movie-card__header">
                <h1 class="movie-card__title" >{{lang.get('laboratory')}}</h1>
                <h4 class="movie-card__info" >{{lang.get('produces 100% under 10% conditions')}}</h4>
              </div>
              <p class="movie-card__desc">
                {{lang.get('This project is designed to ensure the constant activity of our employees, and give the opportunity to create your own personal project almost free of charge to anyone.')}}
              </p>
              <a class="btn btn-outline movie-card__button" (click)="cube = !cube;" routerLink="/lab">&#10149;</a>
            </div>
          </div>

          <div class="movie-card" data-movie="Folio">
            <div class="movie-card__overlay"></div>
            <div class="movie-card__share"></div>
            <div class="movie-card__content">
              <div class="movie-card__header">
                <h1 class="movie-card__title">{{lang.get('portfolio')}}</h1>
                <h4 class="movie-card__info">{{lang.get('Products of our studio')}}</h4>
              </div>
              <p class="movie-card__desc">
                {{lang.get('A blade runner must pursue and try to terminate four replicants who stole a ship in space and have returned to Earth to find their creator.')}}
              </p>
              <a class="btn btn-outline movie-card__button" (click)="cube = !cube; cube_1_start();"
                 routerLink="/portfolio">
                &#10149;
              </a>
            </div>
          </div>

          <div class="movie-card" data-movie="Store">
            <div class="movie-card__overlay"></div>
            <div class="movie-card__share"></div>
            <div class="movie-card__content">
              <div class="movie-card__header">
                <h1 class="movie-card__title">{{lang.get('shop')}}</h1>
                <h4 class="movie-card__info">{{lang.get('we sell projects')}}</h4>
              </div>
              <p class="movie-card__desc">
                {{lang.get('Marty McFly, a 17-year-old into the past in a time-traveling DeLorean invented by his close friend, the maverick scientist Doc Brown.')}}
              </p>
              <a class="btn btn-outline movie-card__button"  (click)="cube = !cube; cube_2_start();"
                 routerLink="/market">
                &#10149;
              </a>
            </div>
          </div>

          <div class="movie-card" data-movie="Contact">
            <div class="movie-card__overlay"></div>
            <div class="movie-card__share"></div>
            <div class="movie-card__content">
              <div class="movie-card__header">
                <h1 class="movie-card__title">{{lang.get('contacts')}}</h1>
                <h4 class="movie-card__info">{{lang.get('constant communication with us')}}</h4>
              </div>
              <p class="movie-card__desc">{{lang.get('You can solve any questions related to our studio in a convenient way for you by simply contacting any of the places indicated by us.')}}</p>
              <a class="btn btn-outline movie-card__button"  (click)="cube = !cube;"
                 routerLink="/contact">&#10149;
              </a>
            </div>
          </div>

        </div>
      </div>
    </main>
  </div>

  <script>

    window.addEventListener("DOMContentLoaded", () => {

      cube_1_start();

      cube_2_start();

    });

  </script>

</div>
