.meny-cube {
    position: absolute;
    z-index: 99999;
    color: transparent;
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner {
    position: fixed;
    width: 34px;
    height: 34px;
    top: 50px;
    left: 50px;
    margin-left: -17px;
    margin-top: -17px;
}

.spinner:after, .spinner:before {
    content: "";
    position: fixed;
    border: 2px solid black;
    width: 30px;
    height: 30px;
}

.spinner:after {
    -webkit-animation: spinner 2.5s linear infinite;
    animation: spinner 2.5s linear infinite;
}

.spinner:before {
    width: 44px;
    height: 44px;
    margin-left: -7px;
    margin-top: -7px;
    -webkit-animation: spinner 2.5s linear infinite;
    animation: spinner 2.5s linear infinite;
    animation-direction: reverse;
}
