<div class="container">
    <div class="cube_2">
        <div class="cube-container">
            <div class="cube_ show-image-1">
                <img alt="alt" class="cube-face-image image-1" src="https://pbs.twimg.com/profile_images/933274674267545601/DkSuoJdM_400x400.jpg" width="300" height="300">
                <div class="cube-face-image image-2" style="background-image: url('../../../assets/img/1.jpg'); background-size: contain; width: 300px; height: 300px; ">
            <span class="read_more" (click)="open_modal()">
                Read more
            </span>
                </div>
                <img alt="alt" class="cube-face-image image-3" src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=300&amp;h=300&amp;fit=crop">
                <img alt="alt" class="cube-face-image image-4" src="https://images.unsplash.com/photo-1514041181368-bca62cceffcd?w=300&amp;h=300&amp;fit=crop">
                <iframe class="cube-face-image image-5" width="300" height="300" src="https://www.youtube.com/embed/WT0z8SPJ8Kc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <img  alt="alt" class="cube-face-image image-6" src="https://www.betterteam.com/i/codepen-420x320-20181026.jpg" height="300" width="300">
            </div>
        </div>

        <h1 style="	text-align: center;color: black;font-size: 25px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">1000$</h1>

        <div class="image-buttons">
            <input alt="alt" type="image" class="show-image-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRulvhakch3Ee5-l4JpY08Dl26JmhCkf7VSpQ&usqp=CAU" height="100" width="100">
            <input alt="alt" type="image" class="show-image-2" src="../../../assets/img/2.png" height="100" width="100">
            <input alt="alt" type="image" class="show-image-5" src="../../../assets/img/3.png" width="100" height="100">

        </div>
        <br>	<br>
        <p style="text-align: center;"><button style="text-align: center;position: relative;width: 320px;height: 30px; background-color: whitesmoke	; font-size: 20px;">Buy</button></p>	<br>	<br>

    </div>
    <div class="cube_2">

        <div class="cube-container">
            <div class="cube_ show-image-1">
                <img alt="alt" class="cube-face-image image-1" src="https://cdn.tutsplus.com/net/uploads/2013/08/github-collab-retina-preview.gif" height="300" width="300">
                <img alt="alt" class="cube-face-image image-2" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=300&amp;h=300&amp;fit=crop">
                <img alt="alt" class="cube-face-image image-3" src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=300&amp;h=300&amp;fit=crop">
                <img alt="alt" class="cube-face-image image-4" src="https://images.unsplash.com/photo-1514041181368-bca62cceffcd?w=300&amp;h=300&amp;fit=crop">
                <iframe class="cube-face-image image-5"  width="300" height="300" src="https://www.youtube.com/embed/qlROt_LlZt0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <img alt="alt" class="cube-face-image image-6" src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=300&amp;h=300&amp;fit=crop">
            </div>
        </div>

        <h1 style="text-align: center; color: black; font-size: 25px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> 3000$</h1>

        <div class="image-buttons">
            <input type="image" class="show-image-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRulvhakch3Ee5-l4JpY08Dl26JmhCkf7VSpQ&usqp=CAU" height="100" width="100" alt="1">
            <input type="image" class="show-image-2" src="../../../assets/img/2.png" height="100" width="100" alt="2">
            <input type="image" class="show-image-5" src="../../../assets/img/3.png" width="100" height="100" alt="3">

        </div>
        <br>	<br>
        <p style="text-align: center;"><button style="text-align: center;position: relative;width: 320px;height: 30px;background-color: whitesmoke	; font-size: 20px;">Buy</button></p>	<br>	<br>

    </div>
</div>
