html, body{
    margin: 0;
    padding: 0;
}

app-market, app-contact, app-lab, app-portfolio{
    width: 100%;
    display: block;
}

app-language{
    width: 83px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 300px;
    z-index: 1;
}

button{
    cursor: pointer;
}

.container{
    width: 600px;
    margin-left: calc(50% - 300px);
    margin-top: 93px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 600px){

    .container{
        width: 100%;
        margin-left: 0;
        padding-left: 20px;
    }

}


